<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imcub.imcubApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@mipmap/ic_logo_imcub_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Activity_Perfil_Item_View" />
        <activity android:name=".Activity_item_view_1" />
        <activity android:name=".Activity_RecuperarConta" />
        <activity android:name=".Activity_Perfil_Usuario" />
        <activity android:name=".Activity_Ideia_Detalhes" />
        <activity android:name=".Activity_Cadastro_Usuario" />
        <activity android:name=".Activity_Item_View" />
        <activity android:name=".Activity_Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Add_Ideia" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>